@{
    ViewData["Title"] = "Home Page";
}

@model List<ProyectoNo1_Cristhian_Bonilla.Models.Products>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    @if (product.Image != null)
                    {
                        <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" alt="@product.ProductName" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text"><strong>Marca:</strong> @product.Brand</p>
                        <p class="card-text"><strong>Modelo:</strong> @product.Model</p>
                        <p class="card-text"><strong>Precio:</strong> @product.Price.ToString("C")</p>
                        <p class="card-text"><strong>Procesador:</strong> @product.Processor</p>
                        <p class="card-text"><strong>Memoria RAM:</strong> @product.RAM</p>
                        <p class="card-text"><strong>Almacenamiento:</strong> @product.Storage</p>
                        <p class="card-text"><strong>Sistema Operativo:</strong> @product.OperatingSystem</p>
                        <p class="card-text"><strong>Color:</strong> @product.Color</p>
                        <p class="card-text"><strong>Descripción:</strong> @product.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Stock: @product.StockQuantity</small>
                    </div>
                    <button type="button" class="btn btn-success" onclick='prepareProductForCart(@Html.Raw(Json.Serialize(product)))'>Agregar al Carrito</button>

                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function AddToCart(product) {
        $.ajax({
            url: '/Home/AddToCart',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(product),
            success: function (response) {
                updateCartItemCount();
                alert("Vuelo agregado al carrito.");
            },
            error: function () {
                alert("Error en la solicitud.");
            }
        });
    }

    function prepareProductForCart(product) {
        console.log(product);
        AddToCart(product);
    }

    function updateCartItemCount() {
        $.get('/Home/GetCartItemCount', function (data) {
            $('#cartItemCount').text(data.count);
        });
    }
</script>
